@{
    List<Usuario> amigos = ViewBag.Amigos;
}
<div class="not-visible barra-lateral" id="barra-amigos">
    <form asp-controller="Home" asp-action="Amigos">
        <div class="barra-pesquisa" id="pesquisa-amigos">
            <input name="nome" class="white-text" type="text" placeholder="Pesquise um usuário">
        </div>
    </form>
    <div class="divisao_tab"></div>
    <div class="barra-lateral-opcao">
        <i class="fa fa-home icone" aria-hidden="true"></i>
        <h4>Início</h4>
    </div>

    <a asp-controller="Home" asp-action="ListaAmigos" class="barra-lateral-opcao">
        <i class="fa fa-users icone" aria-hidden="true"></i>
        <h4>Lista de Amigos</h4>
    </a>

    <div class="barra-lateral-titulo">
        <i class="fa fa-arrow-down icone" aria-hidden="true"></i>
        <h5>Chats Privados</h5>
    </div>
    <div class="barra-lateral-interna">
        @if (amigos.Count > 0)
        {
            @foreach (Usuario user in amigos)
            {
                <div class="barra-lateral-opcao amigo" id="@user.Id">
                    @if (user.LinkImagem is null)
                    {
                        <img src="/css/img/Usuario.jpg" class="imagem-amigo" />
                    }
                    else
                    {
                        <img src="@user.LinkImagem" class="imagem-amigo" />
                    }
                    <h4>@user.UserName</h4>
                    
                </div>
            }
        }
    </div>
</div>

@if(amigos.Count > 0) { 
    @foreach(Usuario user in amigos) { 
        <div class="chat chat-not-visible" id="chat-@user.Id">
            <div class="barra-nome">
                <div class="Pessoa">
                    <div class="Pessoa">
                        @if (user.LinkImagem is null)
                        {
                            <img src="/css/img/Usuario.jpg" class="imagem-amigo" />
                        }
                        else
                        {
                            <img src="@user.LinkImagem" class="imagem-amigo" />
                        }
                        <a asp-controller="Home" asp-action="Perfil" asp-route-id="@user.Id"><h2>@user.UserName</h2></a>
                    </div>
                    <form asp-controller="Home" asp-route-returnUrl="@Url.RouteUrl(ViewContext.RouteData.Values)" asp-action="RemoverAmigo">
                        <button type="submit" value="@user.Id" name="idAlvo" class="button-icone">
                            <i class="fa fa-user-times"></i>
                        </button>
                        <button type="button" class="button-icone fechar-chat" id="@user.Id">
                            <i class="fa fa-times"></i>
                        </button>
                    </form>
                </div>
            </div>

            <div class="dialogo" id="dialogo-@user.Id">


            </div>

            <div class="barra-mensagem">
                <form class="Msg">
                    <input type="text" id="enviarMsg_@user.Id" placeholder="Envie uma mensagem">
                    <button type="submit" id="submit_@user.Id">
                        <i class="fa fa-paper-plane fa-lg icone" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
    }
}

