@model List<Game>
@{ 
    var contador = 0;
    var tamanho_slide = 1;
    var contador_slide = 0;
    var contador_tipo = 0;
    ViewData["Title"] = "Biblioteca";
}
<link rel="stylesheet" href="~/css/loja.css"/>

<div class="biblioteca">
    @if (Model.Count > 0)
    {
        <div class="row">
            <h1 class="h2">Seus jogos</h1>
            <div class="flex">
                <div class="centralizar not-visible" id="primeira_seta2">
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                </div>
                @for (int i = 0; i < tamanho_slide; ++i)
                {
                    <div class="mySlides fade">
                        <div class="row___posters">
                            @for (int j = 0; j < 2; ++j)
                            {
                                <div class="box1">
                                    @while (contador < Model.Count && contador_tipo < Model.Count && contador_tipo < 4)
                                    {
                                        <a asp-action="ReadSingle" asp-route-id="@Model[contador].Id">
                                            <image src="@Model[contador].LinkLogo" alt="@Model[contador].Nome" class="row__poster"></image>
                                        </a>
                                        contador_tipo++;
                                        contador++;
                                    }
                                    @{
                                        contador_slide += contador_tipo;
                                        contador_tipo = 0;
                                        if (contador_slide >= 8)
                                        {
                                            <script>
                                                document.getElementById("primeira_seta2").classList = "centralizar"
                                            </script>
                                            contador_slide = 0;
                                            tamanho_slide++;
                                        }
                                    }
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (tamanho_slide > 1)
                {
                    <div class="centralizar">
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>
                }
            </div>
        </div>
        @*<div class="seus_jogos">
                <h1>Seus jogos</h1>
                <div class="flex">
                    @for (int i = 0; i < tamanhoSlides; i++)
                    {
                        <div class="mySlides fade">
                            <div class="jogos">
                                @for (int j = 0; j < 4 && contador < Model.Count; j++)
                                {
                                    <img src="@Model[contador].LinkLogo" class="jogo" alt="@Model[contador].Nome">
                                    contador++;
                                }
                            </div>
                        </div>
                    }
                    <div class="centralizar">
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>
                </div>
            </div>*@
        @*<div class="jogos_baixados"> Comentado por ora até implementado
                <h1>Jogos baixados</h1>
                <div class="flex">
                    <div class="mySlides2 fade">
                        <div class="jogos">
                            <img src="hollow_knight.jpg" class="jogo" alt="jogo">
                            <img src="hollow_knight.jpg" class="jogo" alt="jogo">
                            <img src="hollow_knight.jpg" class="jogo" alt="jogo">
                            <img src="hollow_knight.jpg" class="jogo" alt="jogo">
                        </div>
                    </div>
                    <div class="centralizar">
                        <a class="prev" onclick="plus(-1)">&#10094;</a>
                        <a class="next" onclick="plus(1)">&#10095;</a>
                    </div>
                </div>
            </div>*@
    }
    else
    {
        <h2>Você não tem jogos! Compre jogos por um excelente preço <a asp-controller="Loja" asp-action="Index">aqui!</a></h2>
    }
</div>