@model List<Comentario>
@using Pindorama.Services;
@using Pindorama.Auth;
@inject GamesService _gameService;
@inject AuthService _authService;
@{
    Postagem postagem = ViewBag.Postagem;
    Usuario user = await _authService.GetCurrentUserAsync();
    var linkImg = postagem.Usuario.LinkImagem is null ? "/css/img/Usuario.jpg" : postagem.Usuario.LinkImagem;
}

<link href="/css/Forum.css" rel="stylesheet"/>

<style>
    body{
        grid-template-rows: 5% 100%
    }
</style>

<div class="posts">
    <div class="inner-posts">
        <a asp-action="GameForum" asp-route-id="@postagem.ComunidadeId">
            <i class="fa fa-angle-left retornar"></i>
        </a>
        <div class="post">
            <div class="postCorpo"> 
                <div class="postUser">
                    <img src="@linkImg" alt="">
                    <h3><a asp-controller="Home" asp-action="Perfil" asp-route-id="@postagem.UsuarioId">@postagem.Usuario.UserName</a></h3>
                    <small>@postagem.DataPostagem</small>
                    @if(user.Id == postagem.UsuarioId || user.Id == postagem.Comunidade.DistribuidoraId)
                    {
                        <form asp-action="DeletarPostagem" asp-route-returnUrl="/Forum/GameForum/@postagem.ComunidadeId"  asp-route-isComment="false" asp-route-id="@postagem.Id">
                            <button type="submit" class="button-icone">
                                <i class="fa fa-trash"></i>
                            </button>
                        </form>
                    }
                </div>
                <div class="postHeader">
                    <div class="descricao">
                        <p>@postagem.Conteudo</p>
                        @if(postagem.LinkImagem is not null)
                        {
                            <img src="@postagem.LinkImagem" class="img_post"/>
                        }
                    </div>

                    <div class="clicar">
                        @if(await _gameService.IsLiked(user.Id, postagem.Id, true)){
                            <i class="fa fa-heart like" aria-hidden="true" id="like_@postagem.Id"></i>
                        }
                        else
                        {
                            <i class="fa fa-heart-o like" aria-hidden="true" id="like_@postagem.Id"></i>
                        }
                        <small id="qtyLikes_@postagem.Id">@postagem.QtyLikes</small>
                    </div>
                </div>
            </div>
        </div>
        <form asp-action="Postagem" style=" margin-bottom: 20px;">
            <div class="CaixaTextoInput" style="padding:0;">
                <textarea name="conteudoComment" style="margin:0 0 20px 0;" type="text" class="white-text" placeholder="No que você está pensando?"></textarea>
            </div>
            <div class="CaixaTextoInput">
                <input name="imagemPost" type="text" class="white-text" placeholder="Insira uma imagem! (opcional)" style="height: fit-content;"/>
            </div>
            <button name="idPost" value="@postagem.Id" type="submit" class="Botao">Postar</button>
        </form>
        @if(Model is not null && Model.Count() > 0) {
            @foreach(Comentario comment in Model){
                var linkImagem = comment.Autor.LinkImagem is null ? "/css/img/Usuario.jpg" : comment.Autor.LinkImagem;
                <div class="post comentario">
                    <div class="postCorpo">
                        <div class="postUser">
                            <img src="@linkImagem" alt="">
                            <h3><a asp-controller="Home" asp-action="Perfil" asp-route-id="@comment.AutorId">@comment.Autor.UserName</a></h3>
                            <small>@comment.DataPostagem</small>
                            @if(user.Id == comment.AutorId || user.Id == postagem.Comunidade.DistribuidoraId)
                            {
                                <form asp-action="DeletarPostagem" asp-route-isComment="true" asp-route-id="@comment.Id" asp-route-returnUrl="@Url.RouteUrl(ViewContext.RouteData.Values)">
                                    <button type="submit" class="button-icone">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </form>
                            }
                        </div>
                        <div class="postHeader">
                            <div class="descricao">
                                <p>@comment.Texto</p>
                                @if(comment.LinkImagem is not null)
                                {
                                    <img src="@comment.LinkImagem" class="img_post"/>
                                }
                            </div>

                            <div class="clicar">
                                @if (await _gameService.IsLiked(user.Id, comment.Id, false)) {
                                    <i class="fa fa-heart like" aria-hidden="true" id="like_c_@comment.Id"></i>
                                }
                                else
                                {
                                    <i class="fa fa-heart-o like" aria-hidden="true" id="like_c_@comment.Id"></i>
                                }
                                <small id="qtyLikes_c_@comment.Id">@comment.QtyLikes</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h1>Não há comentários!</h1>
        }
    </div>
</div>

<script src="~/js/Likes.js"></script>
