@model Usuario
@using Pindorama.Services;
@using Pindorama.Auth;
@inject GamesService _gameService;
@inject AuthService _authService;
@{
    var imagemUsuario = @Model.LinkImagem is null ? "/css/img/Usuario.jpg" : @Model.LinkImagem;
    var postagens = ViewBag.postagens;
    Usuario user = await _authService.GetCurrentUserAsync();
    var pendentes = ViewBag.Pendentes;
    var amigos = ViewBag.Amigos;
    string imagemBanner = @Model.LinkBanner is null ? "https://images.pexels.com/photos/540518/pexels-photo-540518.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" : @Model.LinkBanner;
}
<link rel="stylesheet" href="~/css/perfil.css" />

<div class="barra-nav">
    <div class="barra-pesquisa">
        <input type="text" placeholder="Pesquise um usuário">
    </div>
</div>

<div class="tudo">

    <div class="conteiner">
        <div class="fotocapa">
            <img src="@imagemBanner" alt="">
        </div>

        <div class="pessoa">
            <div class="direita">
                <div class="fotoperfil">
                    <img src="@imagemUsuario" alt="">
                </div>

                <div class="nome">
                    <div class="nomeperfil">
                        <h2>@Model.UserName</h2>
                    </div>
                    <div class="nomeusuario">
                        <h4>             </h4>
                    </div>
                </div>
            </div>
            @if(user.Id.Equals(Model.Id)){
                <form asp-controller="Configuracoes" asp-action="Index" method="get">
                    <button type="submit" class="solicitarAmizade">Editar perfil</button>
                </form>
            }
            else if(amigos.Contains(Model))
            {
                <form asp-controller="Home" asp-route-returnUrl="@Url.RouteUrl(ViewContext.RouteData.Values)" asp-action="RemoverAmigo">
                    <button type="submit" value="@Model.Id" name="idAlvo" class="solicitarAmizade">Remover amigo</button>
                </form>
            }
            else if(pendentes.Contains(Model))
            {
                <button class="solicitarAmizade">Amizade pendente...</button>
            }
            else
            {
                <button class="solicitarAmizade submit-request" id="@Model.Id">Solicitar Amizade</button>
            }
        </div>
    </div>

    


    <div class="posts">

        <h2 class="titulo">Últimos posts</h2>

        @foreach(Postagem postagem in postagens){
            <div class="post">
                <div class="postCorpo">
                    <div class="postUser">
                        <img src="@imagemUsuario" alt="">
                        <h3>@Model.UserName</h3>
                        <small>@postagem.DataPostagem</small>
                        <small>Em @postagem.Comunidade.Nome</small>
                    </div>
                    <div class="postHeader">
                        <div class="descricao">
                            <p>@postagem.Conteudo</p>
                        </div>

                        <div class="reacoes">
                            <div class="clicar">
                            @if(await _gameService.IsLiked(user.Id, postagem.Id, true)){
                                <i class="fa fa-heart like" aria-hidden="true" id="like_@postagem.Id"></i>
                            }
                            else
                            {
                                <i class="fa fa-heart-o like" aria-hidden="true" id="like_@postagem.Id"></i>
                            }
                            <small id="qtyLikes_@postagem.Id">@postagem.QtyLikes</small>
                            </div>
                            <a asp-controller="Forum" asp-action="Postagem" asp-route-id="@postagem.Id" class="clicar">
                                <i class="fa fa-comment" aria-hidden="true"></i>
                                <small>@postagem.QtyComentarios</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>


</div>

<script src="~/js/Likes.js"></script>